<style>
    table,
    th,
    td {
        border: 3px solid black;
    }

    th,
    td {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
        padding-right: 50px;
        text-align: left;
    }

    table {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        width: 80%;
    }

    .manageuser-button {
        background-color: #E61739;
        border: none;
        color: black;
        padding: 15px 32px;
        border-radius: 4px;
        transition-duration: 0.4s;
        margin: 10px;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .manageuser-button:hover {
        background-color: #FF6A00;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    .manageruser-menu {
        margin-top: 5%;
        margin-left:15%;
        margin-right:15%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: #A5ACB0;
        border-radius: 15px;
    }
    tr:nth-child(even) {background-color: #cccccc;}
</style>
<div class="manageruser-menu">
    <table class="absolute-center">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Adress</th>
            <th>Manage</th>
        </tr>
        <tr>
            <td>Emirhan</td>
            <td>Sprint 4</td>
            <td>Emirhan@gmail.com</td>
            <td>rachelsmolen 10</td>
            <td><button class="manageuser-button">Edit</button><button class="manageuser-button">Remove</button></td>
        </tr>
        <tr>
            <td>Dave</td>
            <td>Sprint 4</td>
            <td>Dave@gmail.com</td>
            <td>rachelsmolen 5</td>
            <td><button class="manageuser-button">Edit</button><button class="manageuser-button">Remove</button></td>
        </tr>
        <tr>
            <td>Rick</td>
            <td>Sprint 4</td>
            <td>Rick@gmail.com</td>
            <td>Rachelsmolen 3</td>
            <td><button class="manageuser-button">Edit</button><button class="manageuser-button">Remove</button></td>
        </tr>
    </table>
</div>