<head>
  <style>
  .card{
    border: 1px solid green;
  border-radius: 25px;
  }
  </style>
</head>
<body>
<div class="row" style="float: left; width: 40%; margin-left: 5%; margin-top: 5%;">
  <div class="card" style="width: 18rem; margin: 2%;">
    <div class="card-body">
      <h5 class="card-title">Name: Peter van Adelhof </h5>
      <h6 class="card-subtitle mb-2 text-muted">Skill: Programming</h6>
      <button (click)="CallSweetalert()" type="button" class="btn btn-success">Accept</button>
      <button type="button" class="btn btn-danger" style="margin-left:30%;">Decline</button>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin: 2%;">
    <div class="card-body">
      <h5 class="card-title">Name: Sam Zadelhof </h5>
      <h6 class="card-subtitle mb-2 text-muted">Skill: Database</h6>
      <button type="button" class="btn btn-success">Accept</button>
      <button type="button" class="btn btn-danger" style="margin-left:30%;">Decline</button>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin: 2%;">
    <div class="card-body">
      <h5 class="card-title">Name: Niek van Dinther </h5>
      <h6 class="card-subtitle mb-2 text-muted">Skill: Security</h6>
      <button type="button" class="btn btn-success">Accept</button>
      <button type="button" class="btn btn-danger" style="margin-left:30%;">Decline</button>
    </div>
  </div>
</div>

<div class="row" style="float: left; width: 40%; margin-left: 5%; margin-top: 5%;">
  <div class="card" style="width: 18rem; margin: 2%;">
    <div class="card-body">
      <h5 class="card-title">Name: Peter van Adelhof </h5>
      <h6 class="card-subtitle mb-2 text-muted">Skill: Front-End</h6>
      <button type="button" class="btn btn-success">Accept</button>
      <button type="button" class="btn btn-danger" style="margin-left:30%;">Decline</button>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin: 2%;">
    <div class="card-body">
      <h5 class="card-title">Name: Sam Zadelhof </h5>
      <h6 class="card-subtitle mb-2 text-muted">Skill: Infrastructure</h6>
      <button type="button" class="btn btn-success">Accept</button>
      <button type="button" class="btn btn-danger" style="margin-left:30%;">Decline</button>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin: 2%;">
    <div class="card-body">
      <h5 class="card-title">Name: Niek van Dinther </h5>
      <h6 class="card-subtitle mb-2 text-muted">Skill: Back-end</h6>
      <button type="button" class="btn btn-success">Accept</button>
      <button type="button" class="btn btn-danger" style="margin-left:30%;">Decline</button>
    </div>
  </div>
</div> 
</body>