<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #2e3133">
    <a style="color: white" class="navbar-brand" href="#">CGI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a style="color: white" class="nav-item nav-link active" href="#">Rooster <span class="sr-only">(current)</span></a>
        <a style="color: white" class="nav-item nav-link" href="profilepage">Profile</a>
        <a style="color: white" class="nav-item nav-link" href="shift-page">Shifts</a>
        <button style="margin-left: 580%;" *ngIf="router.url == '/rooster-page' || router.url == '/profilepage' || router.url == '/shift-page'" class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>