<ng-template #content let-modal>
    <form #form='ngForm' class="mb-4" autocomplete="on" (submit)="onSubmit(form)">
        <div class="modal-header">
            <h4 class="modal-title">Describe the incident</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" #Title="ngModel" name="Title" [(ngModel)]="formModel.Title" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" #Description="ngModel" name="Description" [(ngModel)]="formModel.Description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Client Email address</label>
                <input class="form-control" type="email" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email" placeholder="name@example.com" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            <button type="submit" class="btn btn-success" (click)="SendEmail()">Send email</button>
        </div>
    </form>
</ng-template>





<div class="buttonincident">
    <button class="btn btn-success" (click)="openPopup(content)">Start Incident</button>
</div>
<div class="form-group" *ngIf="!CardCreated">
</div>