<div style="height: 20%; width: 50%; margin-left: auto; margin-right: auto;">

    <h1 style="text-align: center;">My Incidents</h1>
    <table class="table table-striped table-dark table-bordered table-sm">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Sended to</th>
        </tr>

        <tr *ngFor="let user of incidentDetails">
            <td>{{user.incidentId}}</td>
            <td>{{user.title}}</td>
            <td>{{user.description}}</td>
            <td>{{user.email}}</td>
        </tr>

    </table>
    <div class="buttonincident" style="width: fit-content; margin-left: auto; margin-right: auto;">
        <button class="btn btn-success" (click)="openPopup(content)">Start Incident</button>
    </div>
</div>

<ng-template #content let-modal>
    <form #form='ngForm' class="mb-4" autocomplete="on" (submit)="onSubmit(form)">
        <div class="modal-header">
            <h4 class="modal-title">Describe the incident</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" #Title="ngModel" name="Title" [(ngModel)]="formModel.Title" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" #Description="ngModel" name="Description" [(ngModel)]="formModel.Description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Client Email address</label>
                <input class="form-control" type="email" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email" placeholder="name@example.com" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            <button type="submit" class="btn btn-success" (click)="SendEmail()">Send email</button>
        </div>
    </form>
</ng-template>


<div class="form-group" *ngIf="!CardCreated">
</div>